body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 60px;
    background-color: rgb(74, 88, 200);  
    /* background: url(https://media.istockphoto.com/id/508451098/photo/logout.jpg?b=1&s=612x612&w=0&k=20&c=Syza4ZWvydxaXTqgalJ7dYIaFaxtVk62ba4uCCLEGm8=);
    background-repeat: no-repeat;
    background-size: cover; */
  }
  
  .container1 {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #044285;
  }
  
  .small-text {
    font-size: 12px;
    margin-top: 20px;
    color: #fff;
  }